*{
    margin: 0;
    padding: 0;
    color: #fff;
}

body{
    font-family: 'Space Grotesk', sans-serif;
    background-color: rgb(19, 18, 18);
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.3), rgba(4,9,30,0.3)), 
    url(IMG_8127.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav .ab{
    text-decoration: none;
    font-size: 25px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #378812;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text{
    padding-top: 180px;
    text-align: center;
    text-transform: capitalize;
}

.text h3{
    font-size: 18px;
}

.text h1 {
    font-size: 70px;
    margin-bottom: 10px;
}

nav .fa{
    display: none;
}

@media (max-width: 700px) {
    .text h1 {
        font-size: 40px;
    }

    .text p{
        font-size: 16px;
    }

    .text{
        padding-top: 250px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #378812;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        text-align: center;
        transition: 1s;
    }

    nav .fa{
        display: block;
        margin: 30px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 15px;
    }
}

.about-home{
    padding-bottom: 70px;
}

.about-home h1, p{
    align-items: center;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

.about-home h1{
    font-size: 35px;
}

.about-home p{
    padding-bottom: 25px;
}

.about-home .btn{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px 12px 12px 12px;
    font-size: 13px;
    background: #378812;
    font-weight: bold;
    border-radius: 7px;
}

@media (max-width: 700px){
    .about-home{
        text-align: center;
        padding-bottom: 50px;
    }
}

footer{
    position: relative;
    height: 150px;
    align-items: center;
    text-align: center;
}
    
footer .footerr{
    padding-bottom: 10px; 
}

.icons-footer{
    padding-top: 35px;
    align-items: center;
    font-size: 30px;
}

footer p{
    font-weight: bold;
}

.icns{
    padding-left: 10px;
}


@media (max-width: 700px){
    .footerr{
        flex-direction: column;
        padding-left: 0;
        text-align: center;
    }

    .icons-footer{
        padding-left: 8px;
    }

}

.insights-col img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    background-size: contain;
    cursor: pointer;
}

.pic-sec .insights-col{
    display: flex;
}

.pic-sec h2{
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: rgb(22, 21, 21);
}

.about-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), 
    url(WhatsApp\ Image\ 2024-01-06\ at\ 7.01.14\ PM\ \(1\).jpeg);
    background-position:center;
    text-align: center;
}

.about-header h1{
    padding-top: 70px;
    font-size: 35px;
}

.about-text p{
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 700px){
    .about-text p{
        padding-left: 50px;
        padding-right: 50px;
    }
}